<h2>Anime Component</h2>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">
        <h3>
            Agregar {{name()}}
        </h3>
        <input 
            type="text" 
            name="" 
            id="" 
            placeholder="Nombre" 
            class="form-control mb-2"
            [value]="name()"
            (change)="name.set(txtName.value)"
            #txtName
        >
        <input 
            type="number" 
            name="" id="" 
            placeholder="Poder" 
            class="form-control mb-2"
        >
        <button class="btn btn-primary">Agregar</button>
    </div>
    <div class="col-12 col-sm-6">
        <h3>
            Listado
        </h3>
        <ul>
            @for (character of characters(); track character.id) {
                @if(character.power > 500){
                    <li>
                        <span> {{character.name}} </span>
                        <strong [class.text-danger]="character.power > 9000" [class.text-primary]="character.power <= 9000"> {{character.power}} </strong>
                    </li>
                }@else {
                    <li>
                        <strong>
                            !! Este personaje tiene un poder muy bajo!!!
                        </strong>
                    </li>
                }
                
            }
        </ul>
    </div>
</section>