<h2>Anime Super Component</h2>
<hr>
<section class="row">
    <div class="col-12 col-sm-6">
        <!-- Inicia Componente de Formulario -->
            <app-character-form/>
        <!-- Finaliza Componente de Formulario -->
    </div>
    <div class="col-12 col-sm-6">
        <h3>
            Listado
        </h3>
        <ul>
            @for (character of characters(); track character.id) {
                @if(character.power > 500){
                    <li>
                        <span> {{character.name}} </span>
                        <strong [class.text-danger]="character.power > 9000" [class.text-primary]="character.power <= 9000"> {{character.power}} </strong>
                    </li>
                }@else {
                    <li>
                        <strong>
                            !! Este personaje tiene un poder muy bajo!!!
                        </strong>
                    </li>
                }
                
            }
        </ul>
    </div>
</section>