<style>
    nav{
        display: flex;
        justify-content: space-around;
        background-color: #212121;
        color: #fff;
        padding: 10px;
        font-size: 25px;
    }
    nav a{
        color: #fff;
        text-decoration: none;
    }
    nav a.active{
        color: red;
    }
</style>
<nav>
    <a href="" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contador</a>
    <a href="" routerLink="/hero" routerLinkActive="active">Hero</a>
    <a href="" routerLink="/anime" routerLinkActive="active">Anime</a>
    <a href="" routerLink="/anime-super" routerLinkActive="active">Anime Super</a>
</nav>